app-login{
    position: absolute;
    top: 149px;
    left: 975px;
}
.inicio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #8ac1f7 50%, #ffffff 50%);
  }  

.titulo-background {
  position: absolute;
  color: #f5e5e5a8;
  font-size: 300px;
  opacity: 25%;
}

.titulo-dron {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #105EFB;
  font-size: 30px;
  /* text-align: center; */
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);*/
}

.imagen-dron {
  top: -124px;
  left: -515px;
  position: relative;
  width: 450px;
  height: 300px;
  background-image: url('src/assets/img/Imagen Dron.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.container-lineas{
  position: absolute;
  top: 5px;
  left: -700px;
  width: 200px;
}

.lineas1{
  width: 100%;
  height: 10px;
  background: #8AC1F7;
  position: absolute;
  top: 70px;
  left: 1437px;
}
.lineas2{
  width: 80%;
  height: 10px;
  background: #8AC1F7;
  position: absolute;
  top: 90px;
  left: 1437px;
}
.lineas3{
  width: 60%;
  height: 10px;
  background: #8AC1F7;
  position: absolute;
  top: 110px;
  left: 1437px;
}