app-login{
    position: relative;
    left: 560px;
}
.inicio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }  

.titulo-background {
  position: absolute;
  color: #3B8ED0;
  font-size: 295px;
  left: 0;
  mix-blend-mode: multiply;
  opacity: 60%;
}

.titulo-drones{
  position: absolute;
  color: #105EFB;
  font-size: 300px;
}

.titulo-dron {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #105EFB;
  /* text-align: center; */
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);*/
}

.imagen-dron {
  position: relative;
  width: 450px;
  height: 300px;
  background-image: url('src/assets/img/Imagen Dron.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
  left: 495px;
  top: -148px;
  filter: drop-shadow(3px 4px 8px black);
}

.imagen-back{
  position: absolute;
  height: 100vh;
  top: 0;
  left: -438px;
  filter: hue-rotate(290deg);
}
