<nav id="nav">
  <div class="logo-container">
    <img class="logo" src="assets/img/unnamed.png" alt="Logo">
  </div>
  <div style="display: flex; align-items: center;" (click)="downloadPDF()">
    <mat-icon style="color: white; margin-right: 40px;">print</mat-icon>
    <div class="dropdown-container">
      <button class="dropdown-button">
        <!-- Icono o contenido de la sesión de usuario -->
      </button>
      <div style="display: none;">
        <app-dron-information></app-dron-information>
        <app-flight-information></app-flight-information>
        <app-pilot-information></app-pilot-information>
      </div>
    </div>
  </div>
</nav>