<div id="dron-info-component" class="dron-info">
    <h2>{{ dron.nombre }}</h2>
    <p><strong>Número de serie:</strong> {{ dron.numeroSerie }}</p>
    <p><strong>Modelo:</strong> {{ dron.modelo }}</p>
    <p><strong>Fabricante:</strong> {{ dron.fabricante }}</p>
    <p><strong>Fecha de fabricación:</strong> {{ dron.fechaFabricacion | date }}</p>
    <p><strong>Fecha de adquisición:</strong> {{ dron.fechaAdquisicion | date }}</p>
    <!-- Agrega más elementos HTML para mostrar el resto de la información del dron -->
</div>