<div style="margin-top: 100px;"></div>
<div class="container">
    <div class="text">
        <p>
            Este cuaderno interactivo ha sido creado con el propósito de proporcionar una plataforma para el entrenamiento de modelos de Inteligencia Artificial (IA).  <br>
    
    Este Colab está estructurado en varios bloques de código que se encargan de verificar y configurar el entorno, descargar conjuntos de datos, entrenar el modelo YOLO y facilitar el almacenamiento de los resultados en Google Drive. <br>
        </p>
    </div>
    <iframe src="data:text/html;charset=utf-8,<head><base target='_blank' /></head><body><script src='https://gist.github.com/Ger678/e87bd21a908ab97d3a8851cb3684a5c0.js'></script></script></body>"></iframe>

</div>
