<div class="container">
    <div class="card">
        <div class="content">
            <div class="text">
                <mat-icon class="logo">inventory</mat-icon>
                <h2>Reportes</h2>
                <p>Cree un reporte personalizado basado en los ultimos vuelos.
                    Puede visualizar y modificar reportes anteriores.</p>
            </div>
            
            <div class="link">
                <h5><a href="/sap">Ver reportes</a></h5><mat-icon>arrow_forward_ios</mat-icon>
            </div>
            
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="text">
                <mat-icon class="logo">bar_chart</mat-icon>
                <h2>Entrenamientos</h2>
                <p>Conecte con Roboflow y entrene tu propia IA</p>
            </div>
            <div class="link">
                <h5><a href="/sap">Entrenar</a></h5><mat-icon>arrow_forward_ios</mat-icon>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="text">
                <mat-icon class="logo">hub</mat-icon>
                <h2>Modelos IA</h2>
                <p>Revise y gestione los modelos utilizados.
                    Puede revisar sus metricas y reutilizarlos.
                </p>
            </div>
            <div class="link">
                <h5><a href="/sap">Ver modelos</a></h5><mat-icon>arrow_forward_ios</mat-icon>
            </div>
        </div>
    </div>
</div>