<div class="container">
    <div class="title">
        <h1>Bienvenidos a <span>Sentinel IA for Mining</span></h1>
        <p>            
Bienvenido a nuestra plataforma. Participa en nuestros programas de entrenamiento especializados y aprende a desarrollar algoritmos para el vuelo autónomo y la detección de objetos. También podrás generar reportes detallados sobre tus experiencias de vuelo y explorar los modelos existentes.
        </p>
    </div>
    <div class="cards">
        <div class="card">
            <div class="content">
                <div class="text">
                    <mat-icon class="logo">inventory</mat-icon>
                    <h2>Reportes</h2>
                    <p>Cree un reporte personalizado basado en los ultimos vuelos.
                        Puede visualizar y modificar reportes anteriores.</p>
                </div>
                
                <div class="link">
                    <h5><a href="/sap">Ver reportes</a></h5><mat-icon>arrow_forward_ios</mat-icon>
                </div>
                
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="text">
                    <mat-icon class="logo">bar_chart</mat-icon>
                    <h2>Entrenamientos</h2>
                    <p>Conecte con Roboflow y entrene tu propia IA</p>
                </div>
                <div class="link">
                    <h5><a href="/train">Entrenar</a></h5><mat-icon>arrow_forward_ios</mat-icon>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="text">
                    <mat-icon class="logo">hub</mat-icon>
                    <h2>Modelos IA</h2>
                    <p>Revise y gestione los modelos utilizados.
                        Puede revisar sus metricas y reutilizarlos.
                    </p>
                </div>
                <div class="link">
                    <h5><a href="/models">Ver modelos</a></h5><mat-icon>arrow_forward_ios</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>